@CHARSET "US-ASCII";

v\:* { behavior:url(#default#VML); }

body
{
	font-family: sans-serif, verdana, Arial, Helvetica; font-size: small;
	width: 100%; height: 100%; margin-top: 0px; margin-bottom: 0px; margin-right: 0px; margin-left: 0px;
	
}


div.markerTooltip
{
  font-family: Arial; color: black; font-size:11px; font-weight: normal;
  background-color: #FFFFFF;  margin: 0; text-align:left;
  padding: 1px 3px 1px 3px;  border: solid 1px black;
}


A:link {text-decoration: none; font-weight: bolder;}
A:visited {text-decoration: none; font-weight: bolder;}
A:active {text-decoration: none; font-weight: bolder;}
A:hover {text-decoration: underline; font-weight: bolder;}

a.greenlink { color: green; text-decoration: underline;}
a.greenlink:hover   { color: darkgreen; }

a.greylink { color: gray; text-decoration: underline;}
a.greylink:hover   { color: black; }

a.redmenu { color: darkred; background-color:white; text-decoration: none; line-height:30px; border:solid 1px darkred; padding:4px; padding-left:8px; padding-right:8px   }
a.redmenu:hover { color: white; background-color:darkred;  }

a.bluemenu { color: blue; background-color:white; text-decoration: none; line-height:30px; border:solid 1px blue; padding:4px; padding-left:8px; padding-right:8px   }
a.bluemenu:hover { color: white; background-color:blue; }

a.orangemenu { color: orange; background-color:white; text-decoration: none; line-height:30px; border:solid 1px orange; padding:4px; padding-left:8px; padding-right:8px  }
a.orangemenu:hover { color: white; background-color:orange; }

a.greenmenu { color: forestgreen; background-color:white; text-decoration: none; line-height:30px; border:solid 1px forestgreen; padding:4px; padding-left:8px; padding-right:8px  }
a.greenmenu:hover { color: white; background-color:forestgreen;  }


a.redmenus { color: white; background-color:darkred; line-height:30px; border:solid 1px darkred; padding:4px; padding-left:8px; padding-right:8px   }
a.bluemenus { color: yellow; background-color:blue; line-height:30px; border:solid 1px blue; padding:4px; padding-left:8px; padding-right:8px   }
a.orangemenus { color: white; background-color:orange; line-height:30px; border:solid 1px orange; padding:4px; padding-left:8px; padding-right:8px  }
a.greenmenus { color: white; background-color:forestgreen; line-height:30px; border:solid 1px forestgreen; padding:4px; padding-left:8px; padding-right:8px  }

a.submenu { color: gray; background-color:white; text-decoration: none; text-align:center; line-height:30px; border:solid 1px black; padding:4px; padding-left:8px; padding-right:8px   }
a.submenu:hover { color: white; background-color:gray; }
a.submenus { color: white; background-color:black; line-height:30px; border:solid 1px black; padding:4px; padding-left:8px; padding-right:8px   }
