body {
	font-family: Sans-Serif, Arial, Verdana, Helvetica;
	font-size: small;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: small;
	overflow: hidden;
}

a.mb0 {
	color: blue;
	background-color: gainsboro;
	text-decoration: none;
	border: solid 1px gainsboro;
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px
}

a.mb0:hover {
	color: blue;
	background-color: white;
	border: solid 1px blue;
}

a.mb1 {
	color: white;
	background-color: blue;
	text-decoration: none;
	border: solid 1px blue;
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px
}

a.mb1:hover {
	color: white;
	background-color: blue;
	border: solid 1px white;
}